*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.box{
    margin: 0 auto;
    background-color: #F8EDF0;
    width: 1518px;
    height: 862px;
}
.con img{
    margin-left: 160px;
    margin-top: 10px;
}
.cont p{
    display: inline;
    margin-left: 35px;
}
.cont{
    margin-left: 620px;
    margin-top: -40px;
}
.cont button{
    width: 160px;
    height: 43px;
    background-color: #D23166;
    border-radius: 5px;
    margin-left: 150px;
    border: solid #D23166;
}
button:hover{
    background-color: #ff80aa;
    border: solid #ff80aa;
    
}
.urta h4 {
    font-family: Roboto;
    margin-left: 170px;
    margin-top: 200px;
}
.urta h1{
    margin-left: 170px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.urta h2{
    margin-left: 550px;
    font-size: 50px;
    margin-top: -60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.urta p{
    margin-left: 173px;
    font-family: Hind Madurai;
    font-size: 18px;
}
.urta img{
    margin-left: 860px;
    margin-top: -350px;
    width: 597px;
    height: 597px;
}
.fur img{
    margin-top: -440px;
}
.box1{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 20px;
    width: 1518px;
    height: 400px;
   
}
.conatiner{
    /* background-color: aqua; */
   
    display: flex;
    gap: 0px;
}
.box3{
    width: 250px;
    height: 200px;
    background-color: rgb(255, 255, 255); 
    box-shadow: rgb(228, 228, 228) 1px 1px 1px;

    margin-top: 100px;
    
}
.yas{
    background-color: #F8EDF0;
    margin: 0 auto;
    width: 1518px;
    display: block;
    height: 544px;
}
.rd h1{
    font-size: 44.2px;
    margin-left: 170px;
    margin-top: 150px;
}
.rd p{
    margin-left: 170px;
}
.rd button{
    width: 165px;
    height: 49.135px;
    border-radius: 5px;
    background-color: #D23166;
    border:  solid #D23166;
    margin-left: 170px;
    margin-top: 17px;
}
.rd img{
    width: 655px;
    height: 656.804px;
    margin-left: 860px;
    margin-top: -480px;
}
button :hover{
    background-color: #ff80aa;
}